# day01 - Трудно жить без даты!

---

In [ ]:
import pandas as pd
import numpy as np
import math
from datetime import datetime, timedelta, date, time

In [ ]:
"""Решение задания 1"""

number_of_month = 12              # глобальная переменная месяца даты рождения, необходимо присвоение значения
number_of_day = 31                 # глобальная переменная дня даты рождения, необходимо присвоение значения


def month_of_birth(month, m_o_b = number_of_month):
    if (month == m_o_b):
      return "yes"
    elif (month < m_o_b):
      return "later"
    else:
      return "earlier"
    
def day_of_birth(day, d_o_b = number_of_day):
    if (day == d_o_b):
      return "yes"
    elif (day < d_o_b):
      return "later"
    else:
      return "earlier"
    
    
def get_month(): 
    #i = 0
    month = 1
    months = ["January", "February", "March", "April", "May", "June", "July", 
                      "August", "September", "October", "November", "December"]
    while (0 <= month <= 12):
      result = month_of_birth(month + 1)
      #i += 1
      result = result.lower().replace(' ','')
      if (result == "yes"):
        #print("Month requests - ", i)
        return months[month] 
      elif (result == "later"):
        month += 2
      else:
        month -= 1
    #print("Month requests - ", i)
    return "You have entered a non-existent month.\n"
    
def get_day():
    #i = 0
    day = 15
    result = day_of_birth(day)
    #i += 1
    if (result == "yes"):
      #print("Day requests - ", i)
      return day 
    elif (result == "later"):
      day += 2
      while (day < 32):
        result = day_of_birth(day)
        #i += 1
        result = result.lower().replace(' ','')
        if (result == "yes"):
          #print("Day requests - ", i)
          return day
        elif (result == "later"):
          day += 2
        else:
          day -= 1
    else:
      day -= 2
      while (day > 0):
        result = day_of_birth(day) 
        #i += 1
        result = result.lower().replace(' ','')
        if (result == "yes"):
          #print("Day requests - ", i)
          return day
        elif (result == "later"):
          day += 1
        else:
          day -= 2
    #print("Day requests - ", i)
    return "You have entered a non-existent day.\n"
    
def birthday():
    print(get_day(), get_month())
    
birthday()

31 December

In [ ]:
from datetime import datetime, timedelta, date, time

In [ ]:
"""Решение задания 2"""

def input_date():
    print("Date format: year-month-day.\n")
    start_date = input("Please, enter the start date:")
    end_date = input("Please, enter the end date:")
    return start_date, end_date

def date_to_datetime(start_date, end_date):
    start_date = datetime.strptime(start_date, "%Y-%m-%d")
    end_date = datetime.strptime(end_date, "%Y-%m-%d")
    return start_date, end_date

def delta_time(start_date, end_date):
    return end_date - start_date

def day_of_the_week(start_date):
    return datetime.isoweekday(start_date)

def calculating_hours(start_day_of_the_week, delta):
    days = delta.days
    hours = 0
    while(days >= 0):
      if (start_day_of_the_week < 6 ):
        hours += 8
        start_day_of_the_week += 1
        days -= 1
      elif (start_day_of_the_week == 6):
        start_day_of_the_week += 1
        days -= 1
      else:
        start_day_of_the_week = 1
        days -= 1
    return hours

In [ ]:
"""Тестирование задания 2"""
start,end = input_date()
start,end = date_to_datetime(start, end)
delta = delta_time(start, end)
day = day_of_the_week(start)
calculating_hours(day, delta)

Date format: year-month-day.

Please, enter the start date:2022-04-04
Please, enter the end date:2022-04-04

8

In [ ]:
from google.colab import drive  # если вы выполняете код из среды Google Colab, нужно подключить свой гугл-диск,
drive.mount('/content/drive')   # чтобы можно было оттуда считать файл с данными для этого задания

Mounted at /content/drive

In [ ]:
# здесь и далее вам понадобится менять пути к файлам, поскольку в вашей системе вы их можете записать в другое место

data = pd.read_excel('/content/drive/MyDrive/Pyton/Даты.xlsx')
data

               datetime
0   2021-01-26 17:22:41
1   2013-04-18 14:44:04
2   2017-11-12 21:51:06
3   2001-09-14 22:48:09
4   2012-12-03 18:05:30
..                  ...
95  2002-04-06 14:45:02
96  2010-01-17 19:29:42
97  2016-09-20 13:10:02
98  2019-11-27 15:05:00
99  2005-02-08 18:53:40

[100 rows x 1 columns]

In [ ]:
"""Решение задания 3"""

i = 0
date_array = []
year_array = []
month_array = []
day_array = []
time_array = []
serial_numbers_of_week = []
hours_array = []
minutes_array = []
seconds_array = []
days_of_the_week = []
quantity_of_seconds = []
week_array = ["", "Monday", "Tuesday", "Wednesday", "Thursday",
                    "Friday", "Saturday", "Sunday"]

while (i < 100):
  dt = datetime.strptime(data.datetime[i], '%Y-%m-%d %H:%M:%S')
  date, time = data.datetime[i].split()
  year, month, day = date.split('-')
  hours, minutes, seconds = map(int, time.split(':'))
  quantity_sec = hours * 60 * 60 + minutes * 60 + seconds
  serial_numbers = datetime.isocalendar(dt)

  date_array.append(date)
  year_array.append(year)
  month_array.append(month)
  day_array.append(day)
  serial_numbers_of_week.append(serial_numbers[1])
  days_of_the_week.append(week_array[serial_numbers[2]])
  time = time.replace(':', '-')
  time_array.append(time)
  hours_array.append(hours)  
  minutes_array.append(minutes)
  seconds_array.append(seconds)
  quantity_of_seconds.append(quantity_sec)
  i += 1

data['Date'] = date_array
data['Year'] = year_array
data['Month'] = month_array
data['Day'] = day_array
data['Serial number of week'] = serial_numbers_of_week
data['Day of the week'] = days_of_the_week
data['Time'] = time_array
data['Hour'] = hours_array
data['Minute'] = minutes_array
data['Second'] = seconds_array
data['Quantity of seconds'] = quantity_of_seconds

data

,datetime,Date,Year,Month,Day,Serial number of week,Day of the week,Time,Hour,Minute,Second,Quantity of seconds
0,2021-01-26 17:22:41,2021-01-26,2021,01,26,4,Tuesday,17-22-41,17,22,41,62561
1,2013-04-18 14:44:04,2013-04-18,2013,04,18,16,Thursday,14-44-04,14,44,4,53044
2,2017-11-12 21:51:06,2017-11-12,2017,11,12,45,Sunday,21-51-06,21,51,6,78666
3,2001-09-14 22:48:09,2001-09-14,2001,09,14,37,Friday,22-48-09,22,48,9,82089
4,2012-12-03 18:05:30,2012-12-03,2012,12,03,49,Monday,18-05-30,18,5,30,65130
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2002-04-06 14:45:02,2002-04-06,2002,04,06,14,Saturday,14-45-02,14,45,2,53102
96,2010-01-17 19:29:42,2010-01-17,2010,01,17,2,Sunday,19-29-42,19,29,42,70182
97,2016-09-20 13:10:02,2016-09-20,2016,09,20,38,Tuesday,13-10-02,13,10,2,47402
98,2019-11-27 15:05:00,2019-11-27,2019,11,27,48,Wednesday,15-05-00,15,5,0,54300
99,2005-02-08 18:53:40,2005-02-08,2005,02,08,6,Tuesday,18-53-40,18,53,40,68020